:root {
    --font-title: "Luckiest Guy", cursive;
    --uni-blue: #344f8a;
    --oswald: "Oswald", sans-serif;
}

* {
    padding: 0;
    margin: 0;
    font-family: Arial, sans-serif;
    text-decoration: none;
    list-style: none;
    transition: 0.2s, smooth;
}

body {
    background-color: var(--uni-blue);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5% auto;
}

.card{
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
    border-radius: 1rem;
    padding: 3%;
    width: 27rem;
}
